@import url('../templates/template.css');

body {
  font-family: var(--main-font);
  margin: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--theme-color);
  border-bottom: 2px solid #e0e0e0;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-size: var(--header-font-size);
  font-weight: 700;
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  margin-bottom: 1.25rem;
}

.header-nav {
  display: flex;
  gap: 1rem;
}

.nav-button {
  padding: 0.625rem 1.25rem;
  font-size: var(--button-font-size);
  color: var(--text-white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/* Main */
main {
  padding: 20px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 10%);
  border-radius: 20px;
  width: 80%;
  max-width: 1000px;
  margin: 200px auto 60px; /* Increased top margin for more gap between header and main */
  background-color: var(--background-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the start */
}

/* Simple grid to style the form */
#add-project-form {
  display: flex;
  flex-direction: column;
}

#add-project-form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#add-project-form input, 
#add-project-form select,
#add-project-form textarea {
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

#add-project-form textarea {
  min-height: 100px;
  resize: vertical;
}

.submit-btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--addlog-submit-button-bg);
  color: var(--text-white-color);
  margin-top: 1em;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  border-top: 2px solid #e0e0e0;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding: 0 0 1.25rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

footer p {
  margin-top: 1.25rem;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.feedback-section {
  text-align: center;
  padding: 1.25rem;
  background-color: var(--secondary-color); 
  width: 100%;
}

.feedback-section h2 {
  color: var(--text-white-color); 
  margin-bottom: 0.625rem;
}

.feedback-section p {
  color: var(--text-lighter-color);
  margin-bottom: 1.25rem;  
  margin-left: auto; 
  margin-right: auto;
}

.feedback-button {
  margin-top: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: var(--normal-font-size);
  color: var(--text-white-color);
  background-color: var(--feedback-button-bg);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.feedback-button:hover, .feedback-button:focus {
  background-color: var(--feedback-button-bg-hover);
  box-shadow: 0 4px 6px rgba(0 0 0 / 20%);
  transform: scale(1.05);
}
