@import url('../templates/template.css');

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background: var(--background-color);
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  width: 80%;
  max-width: 1000px;
}

/* Simple grid to style the form */
#add-project-form {
  display: flex;
  flex-direction: column;
}

#add-project-form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#add-project-form input, 
#add-project-form select,
#add-project-form textarea {
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

#add-project-form textarea {
  min-height: 100px;
  resize: vertical;
}

.submit-btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--addlog-submit-button-bg);
  color: var(--text-white-color);
  margin-top: 1em;
}

.submit-btn:hover {
  opacity: 0.8;
}
