* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html {
    height: 100%;
}

body {
    background: white;
    color: #333;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    margin: 0 auto;
    width: 90%;
}

/* Header and Footer */
header, footer {
    background: #e14080;
    color: black;
    padding: 20px 10px;
}

header {
    text-align: right;
}

/* Login/Account Button */
header .login-button {
    background: rgba(197, 5, 5, 100%);
    margin: 0;
    padding: 3px;
}

/* Feedback Button */
footer .feedback-button {
    background: rgba(37, 171, 224, 100%);
    margin: 0;
    padding: 3px;
}

/* Archive Project Header Formatting */
.archive-page-header-div {
    background: white;
    padding: 30px 0;
}

.archive-page-header-div label {
    font-size: 1.2em;
}

/* Search Bar Formatting */
.archive-page-header-div .search {
    background: rgba(255, 252, 169, 100%);
    margin-left: 30px;
    padding: 6px;
}

/* Search Bar Hover And Focus */
.archive-page-header-div .search:hover,
.archive-page-header-div .search:focus {
    background: rgba(253, 255, 236, 100%);
}

/* Project List Formatting */
.archive-project-list-div {
    background: rgba(255, 255, 255, 100%);
    padding: 0;
}

/* Project List Formatting */
.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list li:first-child {
    margin-top: 0;
}

.project-list li:last-child {
    margin-bottom: 20px;
}

/* Project List Item Formatting */
.project {
    background: rgba(255, 175, 175, 100%);
    margin: 15px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 30%);
    transition: transform 0.5s ease;
    border-radius: 15px;
}

/* Hovering Project List Item */
.project:hover {
    background: rgba(255, 102, 102, 100%);
    transform: scale(1.02);
}

/* Trash Project Button */
.project button {
    background: rgba(255, 57, 57, 100%);
    margin: 0;
    padding: 3px;
    font-size: 1em;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 50%);
    transition: transform 0.5s ease;
}

/* Hovering Trash Project Button */
.project button:hover {
    transform: scale(1.3);
}

/* Archive Page Buttons */
.archive-page-btns {
    background: rgba(255, 255, 255, 100%);
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* Back and Next Buttons */
.archive-page-btns button {
    background: rgba(198, 138, 255, 100%);
    padding: 8px;
}

/* Hovering Page Buttons */
.archive-page-btns button:hover {
    background: rgba(214, 181, 255, 100%);
}

/* Fixing no-descending-specificity error */
.project button:hover {
    transform: scale(1.3);
    background: rgba(214, 181, 255, 100%);
}
