body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* css for week/month tabs */
.calendar__title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
    top: 63px;
    left: 10px;
    z-index: 1;
    pointer-events: none;
}
.week-header-div {
    width: 600px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0,.1);
    border-radius: 20px;
}
.week-month-tabs {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}
.week-month-tabs .toggle {
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.week-month-tabs .toggle.active {
    color: #7360ff;
}
.tabs__content__box {
    padding: 20px;
}
.tabs__content__box .tabs__content {
    display: none;
}
.tabs__content__box .tabs__content.active {
    display: block;
}
.week__month__line {
    position: absolute;
    top: 55px;
    left: 20px;
    width: 130px;
    height: 5px;
    background-color: #7360ff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

/* css for weekly calendar */
.week-calendar-div {
    background-color: #60D363;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    overflow: hidden;
    padding: 5px;
}
.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #60D363;
    color: #fff;
}
.calendar-body {
    background-color: #60D363;
    color: #000;
    display: flex;
    justify-content: space-around;
    padding: 5px;
} 
.day-column {
    flex: 1;
    border: 1px solid #ddd;
    min-height: 400px;
    position: relative;
    padding-top: 30px;
    margin: 0 2.5px; /* Add margin to separate columns */
    cursor: pointer;
    box-sizing: border-box;
    background-color: #66E76A;
} 
.day-column:first-child {
    margin-left: 0; /* Remove left margin for the first column */
}
  
.day-column:last-child {
    margin-right: 0; /* Remove right margin for the last column */
}
.day-column:before {
    content: attr(id);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    font-weight: bold;
} 
.date-display {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 0.9em;
    color: black;
}

/* css for prev/next week buttons */
.week-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.prev-week-btn {
    font-size: 18px;
    font-weight: 600;
    color: black;
    background: none;
    background-color: #C8A2C8;
    border: none;
    padding: 13px;
    cursor: pointer;
    border-radius: 20px;
}
.next-week-btn {
    font-size: 18px;
    font-weight: 600;
    color: black;
    background: none;
    background-color: #C8A2C8;
    border: none;
    padding: 13px;
    cursor: pointer;
    border-radius: 20px;
}
    