@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.active-projects-title {
    font-size: 24px;
    font-weight: bold;
}

.search {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.add-project-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-project-btn i {
    margin-right: 5px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px color(#000 / 10%);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.projects li:hover {
    box-shadow: 0 4px 8px color(#000 / 20%);
}

footer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.projects li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

.projects li .delete-btn {
    background-color: red;
}

.add-project, .archive {
    margin-top: 20px;
}

.add-project-btn, .archive-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}